.formulario-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
    width: 100%;
}

.formulario-input {
    border: 1px solid grey;
    width: 15vw;
    height: 4vh;
    border-radius: 10px;
    background-color: #cccccc;
    font-weight: bold;
    font-family: sans-serif;
    padding-left: 20px;
    
}

.formulario-button {
    margin-left: 4vw;
    border: 1px solid grey;
    border-radius: 10px;
    width: 100px;
    height: 4vh;
    background-color: #A27B5C;
}