.tarea-container {
    margin-top: 2vh;
    color: #3F4E4F;
    width: 25vw;
    min-height: 3vh;
    display: flex;
    justify-content: space-between;
    display: flex;
    border-bottom: solid 3px #423e4d;
}

li:before {
    color: red;
}

.tarea-container p {
    max-width: 70%;
    cursor: pointer;
    user-select: none;
    word-wrap: break-word;
    text-transform: capitalize;
}

@media (max-width: 768px) {
    .tarea-container {
        width: 50vw;
    }
}